{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Contribution (Period {{ player.round_number }} of
    {{ session.config.num_rounds }})
{% endblock %}

{% block content %}

    {% if session.config.threshold > 0 %}
{% include 'classroom_pgg/instr_threshold.html' %}
    {% endif %}


    {% if session.config.punishment %}
{% include 'classroom_pgg/instr_punishment.html' %}
    {% endif %}


    {% formfield player.contribution %}

    {% if session.config.cheap_talk %}

        <p>You can use the chat box below to communicate with the other participants in your group.</p>

    {% chat %}<br>
    {% endif %}



    {% next_button %}


{#    {{ block.super }}#}
{% endblock %}
