       <div class="alert alert-secondary" role="alert">
        Note that all players will be able to see the decisions of other players in their group.
           In the Deduction stage each player will be able to transfer up to {{ Constants.punishment_endowment }} ECU
           from your budget to decrease the income of the other players. By transferring 1 ECU from your endowment, you can decrease the income of another participant by
           {{ session.config.punishment_factor }} ECU.
   </div>